*{
    margin: 0%;
    padding: 0%;
}
.grid{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-image: url('./assest/bday.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.item{
    width: 50%;
    opacity: 0;
    background-color: red;
    transition: all 0.5s linear;
    font-size: 2vh;
    padding: 1.9%;
    color: wheat;
    position: relative;
}
h5{
    position: absolute;
}
.grid div:nth-child(1){
   
}
.grid div:nth-child(2){
    /*background-color: green;*/
}
.grid div:nth-child(3){
    /*background-color: blue;*/
}
.grid div:nth-child(4){
   /* background-color: yellow;*/
}

.animate{
    opacity: 0.9;
    transform: rotate(360deg);
    animation: bgchange 1s 1;
}
@keyframes bgchange{
    0%{
        width: 100%;
    }
    50%{
        height: 100%;
    }
    100%{
        opacity: 1;
    }
}